<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862921078483-qgbt1fgrdg7c02mtrd3pav2n803m0j18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862921078483-qgbt1fgrdg7c02mtrd3pav2n803m0j18</string>
	<key>API_KEY</key>
	<string>AIzaSyBPC7DHrJllFEoRoPfclvtP-eY7pPinl0k</string>
	<key>GCM_SENDER_ID</key>
	<string>862921078483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brian.HandShake</string>
	<key>PROJECT_ID</key>
	<string>handshake-acb8c</string>
	<key>STORAGE_BUCKET</key>
	<string>handshake-acb8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862921078483:ios:03a5ccb52e00f1ee8c4626</string>
	<key>DATABASE_URL</key>
	<string>https://handshake-acb8c.firebaseio.com</string>
</dict>
</plist>